.head {
    text-align: center;
    background: #1a1d12;
    h1 {
        color: red;
    }

}

.content {
    h2 {
        //text-align: center;
    }
    ul {
        //text-align: center;
    }

}
